*
{
    margin : 0px ;
    padding : 0px ;
    box-sizing : border-box ;
    font-family :Verdana, Geneva, Tahoma, sans-serif ;
}
::selection
{
    color : black ;
    background-color : yellow ;
}
html::-webkit-scrollbar
{
    width : 1.4rem ;
}
html::-webkit-scrollbar-track
{
    background-color : teal ;
}
html::-webkit-scrollbar-thumb
{
    background-color : hotpink ;
}
/* ------------------------- Navbar Code Start Here ------------------------------------------ */
.container-fluid
{
    background-color : #fff !important ;
}
.container-fluid span
{
    color : #fff ;
    height : 27px ;
    width : 27px ;
    border-radius : 50% ;
    padding : 5px ;
    background-color : royalblue ;
    letter-spacing : 0.1px !important ;
}
.navbarss
{
    top : 0px ;
    position : sticky ;
}
/* ------------------------ Under NavBar Code Start Here --------------------------------------*/
.under
{
    height : 600px ;
    width : 100% ;
    background-color : rgba(132, 221, 221,0.3) !important ;
}
.under img
{
    margin-top : 10px ;
    left : 350px ;
    position: relative ;
    border-radius : 20px 20px 50px 50px ;
}
.under img:hover
{
    cursor : pointer ;
}
@media (max-width : 1000px)
{
    .under img
    {
        left : 100px ;
        position: relative;
    }
}
@media (max-width : 980px)
{
    .under
    {
        height : 800px ;
    }
    .under img
    {
        left : 0px ;
        position: relative;
    }
}
@media (max-width : 630px)
{
    .under img
    {
        width : 300px ;
       
    }
}
@media (max-width : 330px)
{
    .under img
    {
        width : 200px ;
    }
}

/* -------------------------------- Batch Code Start Here -------------------------------------*/
.select 
{
    margin-top : 50px ;
    height : 530px ;
    width : 100% ;
    background-color : rgb(226, 220, 220) !important ;
}
.select h3
{
    text-align : center ;
    font-size : 30px ;
}
.select .btn
{
    display : flex ;
    flex-direction: column ;
    justify-content : center ;
    align-items : center ;
    top : 30px ;
    position: relative ;
}
.select .btn button
{
    height : 100px ;
    width : 500px ;
}
.select .btn button input h2
{
    color : red  !important ;
}
.select .btn button:hover
{
    background-color: rgb(109, 116, 116) ;
    cursor : pointer ;
}
@media (max-width : 525px)
{
    .select .btn button
    {
        width : 300px ;
    }
}
@media (max-width : 310px)
{
    .select .btn button
    {
        width : 200px ;
    }
}

/* -------------------- Duration Code Start Here --------------------------------------------- */
.duration 
{
    height : 300px ;
    width : 100% ;
    background-color : #fff ;
}
@media (max-width : 1027px)
{
    .col-sm-6
    {
        margin-bottom : 50px ;
    }
}
@media (max-width : 820px)
{
    .col-sm-6
    {
        margin-bottom : 30px ;
    }
}
@media (max-width : 620px)
{
    .calendar
    {
        left : 50px ;
        position: relative;
    }
}
@media (max-width : 375px)
{
    .calendar
    {
        margin-left : 50px ;
    }
}
@media (max-width : 375px)
{
    .calendar
    {
        left : -30px ;
        position: relative;
    }
    .col-sm-6
    {
        left : -100px ;
        position: relative;
    }
}

/* ---------------------------------------- Course Code Details Start Here ------------------- */
.course
{
    margin-top : 30px ;
    color : black ;
    height : 250px ;
    width : 100% ;
}
@media (max-width : 1027px)
{
    .course
    {
        margin-top : 300px ;
    }
}
@media (max-width : 900px)
{
    .course
    {
        height : 400px ;
        top : 500px ;
        position: relative ;
    }
}
@media (max-width : 660px)
{
    .course
    {
        height : 400px ;
        margin-top : 500px ;
    }
}

/* ----------------------------- Features Code Start Here ------------------------------------ */
.Features
{
    color : black ;
    height : 500px ;
    width : 100% ;
}
.Features h3
{
    color : royalblue ;
}
.col-sm-3
{
    left : 100px ;
    position: relative;
    height : 250px ;
    width : 250px ;
    margin-left : 20px ;
    margin-right : 10px ;
    margin-top : 20px ;
    margin-bottom : 10px ;
    border-radius : 10px ;
    background-color : rgb(133, 93, 93) ; 
}
@media (max-width : 1027px)
{
    .col-sm-3
    {
        height : 300px ;
    }
}
@media (max-width : 850px)
{
    .Features
    {
        margin-top : 296px ;
    }
    .col-sm-3
    {
        height : 350px ;
        left : 50px ;
        position: relative;
    }
}
@media (max-width : 620px)
{
    .col-sm-3
    {
        height : 400px ;
    }
}
@media (max-width : 575px)
{
    .col-sm-3
    {
        left : -20px ;
        height : 250px ; 
        position: relative ;
    }
}
@media (max-width : 335px)
{
    .Features
    {
        margin-top : 450px ;
    }
    .col-sm-3
    {
        height : 280px ;
    }
}

/* -------------------------- Syllabus Code Start Here --------------------------------------- */
.Syllabus
{
    height : 2000px ;
    width : 100% ;
    margin-top : 200px ;
}
.Syllabus h3
{
    color : royalblue ;
}
.Syllabus .h4
{
    color : rgb(48, 70, 136) ;
}
.Syllabus .h4:hover
{
    cursor : pointer ;
    color : royalblue ;
}
.Syllabus .h5:hover
{
    cursor : pointer  ;
    color : royalblue ;
}
@media (max-width : 1027px)
{
    .Syllabus
    {
        margin-top : 300px ;
    }
}
@media (max-width : 850px)
{
    .Syllabus
    {
        margin-top : 400px ;
    }
}
@media (max-width : 630px)
{
    .Syllabus
    {
        margin-top : 400px ;
    }
}
@media (max-width : 615px)
{
    .Syllabus
    {
        margin-top : 500px ;
    }
}
@media (max-width : 575px)
{
    .Syllabus
    {
        margin-top : 1200px ;
    }
}
@media (max-width : 340px)
{
    .Syllabus
    {
        margin-top : 1400px ;
    }
}

/* -------------------------- Course Mentor Code Start Here ---------------------------------- */
.mentors
{
    height : 500px ;
    width : 100% ;
}
.col-sm-4 .color 
{
    background-color : royalblue !important ;
    height : 90px ;
    width : 107.5% ;
    right : 12px ;
    position: relative;
    border-radius : 10px  10px 0 0 ;
}
.col-sm-4 .i
{
    cursor : pointer ;
}
@media (max-width : 780px)
{
    .col-sm-4
    {
        left : 150px ;
        position: relative;
    }
}
@media (max-width : 600px)
{
    .col-sm-4
    {
        left : 100px ;
        position : relative ;
    }
}
@media (max-width : 530px)
{
    .col-sm-4
    {
        margin-top : 100px ;
        left : 50px ;
        position : relative ;
    }
}
@media (max-width : 430px)
{
    .col-sm-4
    {
        left : 0px ;
        position : relative ;
    }
}
@media (max-width : 397px)
{
    .mentors
    {
        margin-top : 200px ;
    }
}
@media (max-width : 320px)
{
    .mentors
    {
        margin-top : 400px ;
    }
}
@media (max-width : 305px)
{
    .mentors
    {
        margin-top : 500px ; 
    }
    .col-sm-4
    {
        height : 600px !important ;
    }
}

/* ------------------------------ Prerequisites Code Start Here ------------------------------ */
.Prerequisites
{
    margin-top : 150px ;
    height : 300px ;
    width : 100% ;
}
.Prerequisites .h1
{
    color : royalblue ;
    text-align : center ;
    text-transform : uppercase ;
}
.Prerequisites .p
{
    text-align : center ;
    text-transform : uppercase ;
}
.Prerequisites .input
{
    margin-left : 100px ;
    text-align : center ;
    text-transform : uppercase ;
}
@media (max-width : 1027px)
{
    .Prerequisites
    {
        margin-top : 650px ;
    }
}
@media (max-width : 783px)
{
    .Prerequisites
    {
        margin-top : 700px ;
    }
}
@media (max-width : 780px)
{
    .Prerequisites
    {
        margin-top : 1500px ;
    }
}

/* --------------------------- Testimonials Code Start Here ---------------------------------- */
.Testimonials
{
    height : 500px ;
    width : 100% ;
}
@media (max-width : 1027px)
{
    .Testimonials
    {
        margin-top : 500px ;
    }
}
@media (max-width : 570px)
{
    .Testimonials .carousel-control-prev-icon
    {
        margin-top : 550px !important ;
    }
    .Testimonials .carousel-control-next-icon
    {
        margin-top : 550px !important ;
    }
}
@media (max-width : 375px)
{
    .Testimonials .col-sm-6
    {
        margin-left : 100px ;
    }
    .Testimonials .carousel-control-prev-icon
    {
        margin-top : 700px !important ;
    }
    .Testimonials .carousel-control-next-icon
    {
        margin-top : 700px !important ;
    }
}
/* --------------------------- Login Code Start Here ----------------------------------------- */
@media (max-width : 1027px)
{
    #login
    {
        margin-top : 500px ;
    }
}
/* --------------------------- Last Code Start Here -------------------------------------------*/
.last
{
    height : 800px ; 
    width : 100% ;
    color :red ;
    background-color : rgb(27, 189, 189) !important ;
}
.last .h4:hover
{
    color : royalblue ;
    cursor : pointer ;
}